<div id="menu">
    <div><a href="/"><span>Gestion des documents</span></a></div>
    <div><a href="/titles"><span>Tous les titres</span></a></div>
    <div><a href="/rank-1-10"><span>Rangs 1 à 10</span></a></div>
    <div><a href="/authors-n"><span>Titres en N</span></a></div>
    <div><a href="/no-type-de-document"><span>Sans type de doc</span></a></div>
    <div><a href="/all-types"><span>Types différents</span></a></div>
</div>